body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

#map {
  width: 100%;
  height: 600px;
}

.panel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 280px;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #a0a0a0;
}

.github {
  text-align: right;
  margin-top: 5px;
  padding: 10px;
  color: #455a64;
  font-size: 20px;
}

.gtlink {
  text-decoration: none;
  color: #37474f;
}

.gtlink:hover {
  color: #263238;
}

.row {
  color: #607d8b;
  margin-bottom: 5px;
}

.center {
  text-align: center;
}

.button {
  width: 199px;
  height: 25px;
  background-color: #ffffff;
  color: #78909c;
  border: 1px solid #78909c;
}

.button:hover:enabled {
  background-color: #78909c;
  color: #ffffff;
}

.button:disabled {
  color: #cfd8dc;
  border: 1px solid #cfd8dc;
}

#loc_text {
  width: 190px;
  height: 20px;
  padding-left: 5px;
}

#static_url {
  width: 194px;
  height: 13px;
  padding-left: 2px;
}

.output {
  display: none;
}